asgiref>=3.7.0
certifi
cffi
charset-normalizer
cryptography
cloudinary>=1.36.0
django-cloudinary-storage>=0.3.0
Django==5.0.6
django-cors-headers>=4.3.0
django-filter>=23.5,<25.0
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.3.0
gunicorn>=22.0.0
idna
packaging
paypalrestsdk==1.13.1
pillow
psycopg2-binary>=2.9.9
pycparser
PyJWT
pyOpenSSL
python-decouple>=3.8
python-dotenv>=1.0.0
requests
six
sqlparse
tzdata
urllib3
whitenoise>=6.6.0
google-auth
django-anymail[resend]>=10.2
django-dbbackup>=4.0.2
django-axes>=6.1.1
psutil>=5.9.0
apscheduler>=3.10.0
redis>=5.0.0
django-redis>=5.4.0
pymemcache>=4.0.0
