{% extends 'accounts/login.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header justify-content-center">
                <h3 class="fw-light my-4 text-center">Change Password</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-floating mb-3">
                        <input class="form-control" id="{{ field.id_for_label }}"
                            type="{{ field.field.widget.input_type|default:'password' }}" name="{{ field.name }}"
                            placeholder="{{ field.label }}" required />
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.errors %}
                        <div class="text-danger small">{{ field.errors|first }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary btn-block">Update Password</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small"><a href="{% url 'accounts:profile' %}">Back to Profile</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}